{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for t in tasks %}
                <div class="card-container col-lg-3">
                        <div class="card project-card bg-dark">
                            <a>{{ t }}</a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}