body{
    background-color: #4b5669;
}

.bg-dark{
    background-color: #565656;
}

/*
    CARTE PROJET
 */
.project-card{
    margin: 4px;
    height: 60px;
    box-shadow: 2px 2px #868686;
}
.project-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.project-card:hover>a{
    color:#718C00;
}
.project-card>a{
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin:auto;
    padding:5px;
    color:#C9C9C9;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
    CHAMPS RECHERCHE PROJET
 */
.form-search{
    margin:4px;
}
.input-search{
    border:0;
}
.input-search:focus{
    border:0;
    outline: none;
}